extends layout 

block content 
  h1= title 
  
  h2 Details 
  p Name: #{category.name}
  p Description: #{category.description}

  if category.items.length 
    p Items:
    ul 
      each item in category.items 
        li 
          a(href=item.url) #{item.name}
  else 
    p There currently no items in #{category.name} 
  
  p Last Modified: #{category.dateModified_formatted} 
  p Date Added: #{category.dateAdded_formatted}

  if toDelete 
    if category.items.length 
      p Remove all items under this category before deleting.
      a(href=category.url) Cancel

    else 
      p Do you wish to delete this category?

      div 
        form(method="POST") 
          input(type="hidden" name='categoryid' value=category._id)
          button(type="submit") Delete 
        a(href=category.url) Cancel


  else 
    p 
      a(href=`${category.url}/update`) Update  
    p 
      a(href=`${category.url}/delete`) Delete