extends layout

block content
  h1= title
  form(method="POST", action="/submit-path")
    fieldset
      legend Item Details

      // Name Input
      div
        label(for="itemName") Name:
        input#itemName(type="text" name="itemName" required aria-label="Item name" value=(item ? item.name : ''))

      // Description Input
      div
        label(for="itemDescription") Description:
        textarea#itemDescription(name="itemDescription" required aria-label="Item description")
          if item
            | #{item.description}

      // Category Select
      div
        label(for="category") Category:
        select#category(name="category" required aria-label="Select a category")
          option(value="") --Select a Category--
          each category in categories
            option(value=category._id selected=(item && item.category && category._id.equals(item.category._id)) ? true : undefined) #{category.name}

      // Price Input
      div
        label(for="price") Price:
        input#price(type="number" step="0.01" name="price" required aria-label="Price" value=(item ? item.price : ''))

      // Number in Stock Input
      div
        label(for="numberInStock") Number in Stock:
        input#numberInStock(type="number" name="numberInStock" required aria-label="Number in stock" value=(item ? item.numberInStock : ''))

      // Supplier Input
      div
        label(for="supplier") Supplier:
        input#supplier(type="text" name="supplier" aria-label="Supplier" value=(item ? item.supplier : ''))

      // Error Display Section
      if errors
        ul
          each error in errors
            li= error.msg

      // Submit Button
      div
        button(type="submit") Submit
